//Colores
$primary-color: rgb(9, 185, 255);
$gradiant-color1: rgba(9, 185, 255, 1);
$gradient-color2: rgba(0, 53, 99, 1);

//Opciones de fuentes
$font-color: white;
$font-size: 5rem;
$font-size-mobile: 2.5rem;
$font-bold: bold;

//Borde de la tarjeta
$border-radius: 15px;
$border-rounded: 50px;