//Colores
$primary-color: rgb(9, 193, 255);
$gradiant-color1: rgb(9, 177, 255);
$gradient-color2: rgb(0, 41, 99);

//Opciones de fuentes
$font-color: white;
$font-size: 5rem;
$font-size-mobile: 2.5rem;
$font-bold: bold;

//Borde de la tarjeta
$border-radius: 35px;

//Borde del input de busqueda
$border-rounded: 50px;