/* My personal CSS */
#tiempo {
  background: #09b9ff;
  background: linear-gradient(0deg, #09b9ff 0%, #003563 100%);
  border-radius: 15px;
}

h1 {
  color: white;
}

span {
  color: white;
}

img {
  width: 75px;
}

#titulo h1 {
  font-size: 5rem;
  z-index: 400;
  font-weight: bold;
}

#titulo span {
  color: #09b9ff;
  opacity: .7;
}

i {
  color: #09b9ff;
  opacity: .7;
}

@media (max-width: 480px) {
  #titulo h1 {
    font-size: 2.5rem;
  }
}

#buscar {
  background: transparent;
  border-radius: 50px;
  border: 1px solid #09b9ff;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: capitalize;
}